<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RESTO CATALOGUE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet" />
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content?</a>
    <header class="header">
      <div class="header-inner">
        <h1 class="header-title">RESTO CATALOGUE</h1>
      </div>
      <button id="menu" class="header-menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="#">Favorite</a></li>
        <li class="nav-item"><a href="www.linkedin.com/in/zainalsaputra">About Us</a></li>
        <li class="nav-item"><a href="#">Help</a></li>
      </ul>
    </nav>
    <div class="hero" id="hero">
      <div class="hero-inner">
        <h1 class="hero-title">Find your best restaurant in here!!</h1>
      </div>
    </div>
    <main>
      <section class="content" id="content">
        <div class="restaurant">
          <h1 class="restaurant-label">Explore Restaurant</h1>
          <search-bar></search-bar>
          <div class="posts"></div>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright &#xa9 2023 - Restaurant Catalogue</p>
    </footer>
  </body>
</html>
